<a href="https://colab.research.google.com/github/Amrusha99/NLP_J007/blob/master/Sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [3]:
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/86/9e/c53e1fc61aac5ee490a6ac5e21b1ac04e55a7c2aba647bb8411c9aadf24e/vaderSentiment-3.2.1-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 4.8MB/s
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.2.1

In [0]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

In [5]:
df=pd.read_csv("https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv")
df.head()

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...

[5 rows x 5 columns]

In [7]:
df['Sentiment'] = pd.Categorical(df['Sentiment'])
df['Sentiment'].cat.categories

Index(['irrelevant', 'negative', 'neutral', 'positive'], dtype='object')

In [13]:
df.drop(df[ df['Sentiment']=='irrelevant' ].index, axis=0, inplace=True)
df.head()

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...

[5 rows x 5 columns]

In [12]:
data=pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def text_blob(text):
  blob=TextBlob(text)
  return blob.sentiment.polarity

In [23]:
#Applying text_blob on single row for amazon dataset
text_blob(data.reviewText[10])

0.16696428571428568

In [25]:
data['Text_blob_pol']=data.reviewText[:50].apply(text_blob)
data.head()

       reviewerID        asin  ...   reviewTime Text_blob_pol
0  A32T2H8150OJLU  B00000JBLH  ...   09 3, 2004      0.180000
1  A3MAFS04ZABRGO  B00000JBLH  ...  12 15, 2007      0.170939
2  A1F1A0QQP2XVH5  B00000JBLH  ...   01 1, 2011      0.204091
3   A49R5DBXXQDE5  B00000JBLH  ...  04 19, 2006      0.214217
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...   08 4, 2013      0.350000

[5 rows x 10 columns]

In [0]:
def classifier(t_pol):
  if t_pol>0:
    return "positive"
  elif t_pol<0:
    return "negative"
  else:
    return "neutral"

In [40]:
#nltk sentiment intensity analyzer
import nltk
nltk.download("vader_lexicon")

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [0]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
sia = SIA()
def nltk_pol(str):
  pol_dt = sia.polarity_scores(str)
  inverse = [(key,value) for value, key in pol_dt.items()]
  (result,sen) = max(inverse)
  return result

In [42]:
#Applying on single row on amazon dataset
nltk_pol(data.reviewText[10])

0.9194

In [35]:
data['NLTK_pol']=data.reviewText[:50].apply(nltk_pol)
data.head()

       reviewerID        asin  ... Text_blob_pol NLTK_pol
0  A32T2H8150OJLU  B00000JBLH  ...      0.180000   0.9831
1  A3MAFS04ZABRGO  B00000JBLH  ...      0.170939   0.9963
2  A1F1A0QQP2XVH5  B00000JBLH  ...      0.204091   0.7560
3   A49R5DBXXQDE5  B00000JBLH  ...      0.214217   0.9970
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...      0.350000   0.9455

[5 rows x 11 columns]

In [43]:
#Applying text_blob on twitter data
df['Text_blob_pol']=df.TweetText.apply(text_blob)
df.head()

   Topic  ... Text_blob_pol
0  apple  ...      0.000000
1  apple  ...      0.500000
2  apple  ...      0.393750
3  apple  ...      0.541667
4  apple  ...      0.200000

[5 rows x 6 columns]

In [44]:
#Applying nltk on twitter data
df['NLTK_pol']=df.TweetText.apply(nltk_pol)
df.head()

   Topic Sentiment  ...  Text_blob_pol NLTK_pol
0  apple  positive  ...       0.000000   1.0000
1  apple  positive  ...       0.500000   0.8010
2  apple  positive  ...       0.393750   0.8858
3  apple  positive  ...       0.541667   0.8140
4  apple  positive  ...       0.200000   0.7910

[5 rows x 7 columns]

In [47]:
#Classifying results of text_blob 
df["tb_sentiment"]=df.Text_blob_pol.apply(classifier)
df.head()

   Topic Sentiment             TweetId  ... Text_blob_pol NLTK_pol  tb_sentiment
0  apple  positive  126415614616154112  ...      0.000000   1.0000       neutral
1  apple  positive  126404574230740992  ...      0.500000   0.8010      positive
2  apple  positive  126402758403305474  ...      0.393750   0.8858      positive
3  apple  positive  126397179614068736  ...      0.541667   0.8140      positive
4  apple  positive  126395626979196928  ...      0.200000   0.7910      positive

[5 rows x 8 columns]

In [48]:
#Confusion matrix for textblob
from sklearn.metrics import confusion_matrix
confusion_matrix(df["Sentiment"], df["tb_sentiment"])

array([[ 234,  171,  167],
       [ 201, 1213,  919],
       [  38,  124,  357]])

In [49]:
#Report for Textblob
from sklearn.metrics import classification_report
print(classification_report(df["Sentiment"],  df["tb_sentiment"]))

              precision    recall  f1-score   support

    negative       0.49      0.41      0.45       572
     neutral       0.80      0.52      0.63      2333
    positive       0.25      0.69      0.36       519

    accuracy                           0.53      3424
   macro avg       0.52      0.54      0.48      3424
weighted avg       0.67      0.53      0.56      3424

In [50]:
!pip install glove_python

Collecting glove_python
  Downloading https://files.pythonhosted.org/packages/3e/79/7e7e548dd9dcb741935d031117f4bed133276c2a047aadad42f1552d1771/glove_python-0.1.0.tar.gz (263kB)
     |████████████████████████████████| 266kB 5.0MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from glove_python) (1.17.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from glove_python) (1.3.3)
Building wheels for collected packages: glove-python
  Building wheel for glove-python (setup.py) ... done
  Created wheel for glove-python: filename=glove_python-0.1.0-cp36-cp36m-linux_x86_64.whl size=700296 sha256=cbcf63e135c0ee2958ddae459b5e45d374051707dba41c62e15131e63faf6096
  Stored in directory: /root/.cache/pip/wheels/88/4b/6d/10c0d2ad32c9d9d68beec9694a6f0b6e83ab1662a90a089a4b
Successfully built glove-python
Installing collected packages: glove-python
Successfully installed glove-python-0.1.0

In [0]:
import glove
from glove import Corpus, Glove

In [52]:
Tweets = df["TweetText"].apply(nltk.word_tokenize)
corpus = Corpus()
corpus.fit(Tweets,window=10)
glove = Glove(no_components=100, learning_rate=0.05)
glove.fit(corpus.matrix, epochs=30, no_threads=4, verbose=True)

Performing 30 training epochs with 4 threads
Epoch 0
Epoch 1
Epoch 2
Epoch 3
Epoch 4
Epoch 5
Epoch 6
Epoch 7
Epoch 8
Epoch 9
Epoch 10
Epoch 11
Epoch 12
Epoch 13
Epoch 14
Epoch 15
Epoch 16
Epoch 17
Epoch 18
Epoch 19
Epoch 20
Epoch 21
Epoch 22
Epoch 23
Epoch 24
Epoch 25
Epoch 26
Epoch 27
Epoch 28
Epoch 29

In [0]:
glove.add_dictionary(corpus.dictionary)

In [57]:
glove.most_similar('nice')

[('great', 0.9708129807899181),
 ('over', 0.968937568939866),
 ('release', 0.959552877940343),
 ('some', 0.9552815191462276)]