In [0]:
import pandas as pd
import numpy as np
import re
df=pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [0]:
#Function to find vowel, consonant and word count
def word_count(str):
    count = {}
    vowels={'a','e','i','o','u'}
    consonants = ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']
    v_count=0
    c_count=0
    total_count=0

    #removing punctuations
    words=re.findall(r"[\w']+", str) 

    for word in words:
      for letter in word:
        if letter.lower() in vowels:
          v_count+=1
        elif letter.lower() in consonants:
          c_count+=1
    total_count=v_count+c_count
    count= {'v_count':v_count, 'c_count':c_count, 'total_word_count':len(words), 'total':total_count}
    return count

In [23]:
#QC
print(df.reviewText[0])
word_count(df.reviewText[0])

I bought my first HP12C in about 1984 or so, and it served me faithfully until 2002 when I lost it while travelling.  I searched for another one to replace it, but found one difficult to come by in my area.  So, I decided to buy up and purchased an HP 49G.  What a mistake!  I know that many people view the HP 49G (now 49G+) as the flagship of the HP line, but for me that was a disaster.The 49G may be powerful, but using it is extremely counterintuitive...and the manual was sketchy at best.  The 12C, on the other hand, does what I need in a way that makes good sense to me.If you are looking for a solid, reliable calculator, the HP12C may be for you.  It's programmable.  It does basic statistics well, and many business applications too.  The manual makes sense; you will be up and running in short order.I'm ready to set my 49G aside and move back to my old friend.  I didn't even have to replace the batteries in well over a decade of use!HP 12C, I'm coming home!

{'c_count': 437, 'total': 716, 'total_word_count': 191, 'v_count': 279}

In [0]:
df["reviewText_vowel_consonant_count"]=df.reviewText.apply(word_count)

In [25]:
vc_dt=pd.concat([df["reviewText"],df["reviewText_vowel_consonant_count"]],axis=1)
vc_dt.head()

                                          reviewText                   reviewText_vowel_consonant_count
0  I bought my first HP12C in about 1984 or so, a...  {'v_count': 279, 'c_count': 437, 'total_word_c...
1  WHY THIS BELATED REVIEW? I feel very obliged t...  {'v_count': 1504, 'c_count': 2685, 'total_word...
2  I have an HP 48GX that has been kicking for mo...  {'v_count': 134, 'c_count': 235, 'total_word_c...
3  I've started doing more finance stuff recently...  {'v_count': 1089, 'c_count': 1775, 'total_word...
4  For simple calculations and discounted cash fl...  {'v_count': 208, 'c_count': 338, 'total_word_c...

In [0]:
#Beginning with b/B and ending with g/G
def beg_end(str):
  txt = re.sub(r'[^\w\s]','',str) 
  a = re.findall(r"\b[Bb]\w+\b", txt)
  b = re.findall(r'\b(\w+[gG])\b',txt)
  return(a,b)

In [0]:
df["begend_words"]=df.reviewText.apply(beg_end)
vc_dt=pd.concat([df["reviewText"],df["begend_words"]], axis=1)

In [33]:
vc_dt.head()

                                          reviewText                                       begend_words
0  I bought my first HP12C in about 1984 or so, a...  ([bought, but, by, buy, but, be, but, best, be...
1  WHY THIS BELATED REVIEW? I feel very obliged t...  ([BELATED, burying, brandname, best, business,...
2  I have an HP 48GX that has been kicking for mo...          ([been, But], [kicking, giving, working])
3  I've started doing more finance stuff recently...  ([been, because, but, buy, BlackScholls, But, ...
4  For simple calculations and discounted cash fl...  ([best, business, but, be, brackets], [practic...